.tasksList {
  margin: 0;
  list-style: none;
  padding: 0;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.deleteButton {
  background-color: #b00020;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border: solid 2px #b00020;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 0.5rem;
  letter-spacing: 0.025em;
  text-align: center;
}

.deleteButton:hover {
  background-color: #c21938;
  border: solid 2px #c21938;
}
.text {
  height: auto;
  flex: 1;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  font-weight: 600;
  color: black;
  margin: 0;
  text-align: left;
  white-space: pre-line;
}

.loadingTasks {
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.link {
  color: #fff;
  font-weight: 600;
  margin-top: 2rem;
}
.authLinks {
  text-decoration: underline;
  color: #0077b6;
}
.noTasks {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}
.date_and_time {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0;
  min-width: 50%;
  margin: 0;
  margin-top: 1rem;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list {
  background-color: #fff;
  padding: 0.65rem;
  margin: 0.5rem 0;
  border-radius: 0.375rem;
}

@media (max-width: 500px) {
  .deleteButton {
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .h2 {
    font-size: 1.2rem;
  }
}
