.todoContent {
  width: 100%;
}
.authLinks {
  text-decoration: none;
  color: #0077b6;
}
.container {
  width: 80%;
  margin: auto;
}

@media (min-width: 500px) {
  .container {
    margin-top: 5%;
    width: 60%;
  }
}
@media (min-width: 600px) {
  .container {
    margin-top: 8%;
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .container {
    margin-top: 8%;
    width: 50%;
  }
}
@media (min-width: 2560px) {
  .container {
    margin-top: 5%;
  }
}
