.title {
  color: black;
  margin: 0;
}

.control {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input,
.control textarea {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #0077b6;
  background: #eaf8ff;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.addingTodo,
span {
  font: inherit;
  color: white;
}
.error {
  color: #d41515;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
  margin: 0;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.2rem;
  }
  .addingTodo,
  span {
    font-size: 1rem;
  }
}
