.todoList {
  margin: 0;
  /* color: blue; */
  list-style: none;
  padding: 0;
}

.textContent {
  max-width: 100%; /* Ensure content doesn't exceed the card's width */
  display: flex;
  flex-direction: column;
  height: auto;
}

.textContent h4,
.textContent p {
  white-space: pre-line;
  color: black;
  margin: 0;
  font-weight: 800;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.15rem;
  word-break: break-all;
}
.textContent p {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.deleteButton {
  background-color: #b00020;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5em 0.75em;
  font-size: 1rem;
  font-weight: 600;
  border: solid 2px #b00020;
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 0.5rem;
  letter-spacing: 0.025em;
}

.deleteButton:hover {
  background-color: #c21938;
  border: solid 2px #c21938;
}

.loadingTodos {
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.link {
  color: #fff;
  font-weight: 600;
  margin-top: 2rem;
}
.authLinks {
  text-decoration: underline;
  color: #0077b6;
}
.noTodos {
  margin: 0;
  color: #fff;
  font-size: 1rem;
}
.date_and_time {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0;
  margin-top: 1rem;
}
i {
  color: rgb(0, 0, 0, 0.7);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.list {
  background-color: #fff;
  padding: 0.65rem;
  margin: 0.5rem 0;
  border-radius: 0.375rem;
}

@media (max-width: 500px) {
  .deleteButton {
    border-radius: 0.25rem;
    padding: 0.25em 0.5em;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .h2 {
    font-size: 1.2rem;
  }
}
