.content {
  text-align: center;
  margin-top: 5rem;
}

h1 {
  color: #0077b6;
}
p {
  color: white;
}
.button {
  font: inherit;
  border: 1px solid #0077b6;
  background: #0077b6;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 1rem;
  text-align: center;
}

.button:hover,
.button:active {
  background: #0096c7;
  border-color: #0096c7;
}

.button:focus {
  outline: none;
}

.links {
  width: 70%;
  margin-top: 5%;
  /* border: #0077b6 2px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 425px) {
  .content {
    margin-top: 4rem;
  }
  .links {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .button {
    width: 8rem;
    margin: 0.5rem auto;
    font-size: 0.8rem;
  }
  .content h1 {
    font-size: 1rem;
  }
  .content p {
    font-size: 0.8rem;
    margin: 0 1rem;
  }
}
@media (max-width: 320px) {
  .content {
    margin-top: 4rem;
  }
  .button {
    width: 7rem;
    margin: 0.4rem auto;
    font-size: 0.6rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.6rem;
    margin: 0 1rem;
  }
}
