.title {
  color: black;
}
.container {
  width: 80%;
  margin: 10% auto;
}
.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #0077b6;
  background: #eaf8ff;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.loggingIn {
  font: inherit;
  color: white;
}
.error {
  color: #d41515;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
  margin: 0;
}
.link {
  color: #fff;
  font-weight: 600;
  margin-top: 2rem;
}
.authLinks {
  text-decoration: underline;
  color: #0077b6;
}
@media (min-width: 500px) {
  .container {
    margin-top: 5%;
    width: 60%;
  }
}
@media (min-width: 600px) {
  .container {
    margin-top: 8%;
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .container {
    margin-top: 8%;
    width: 50%;
  }
}
@media (min-width: 2560px) {
  .container {
    margin-top: 5%;
  }
}
